<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/" class="btn btn-outline-success ms-1">Product <i class="bi bi-arrow-down-up text-success"> </i></button>
    </li>
    <li>
      <button routerLink="/about" class="btn btn-outline-success ms-1">About <i class="bi bi-question-lg"></i> </button>
    </li>
    <li>
      <button routerLink="/contact" class="btn btn-outline-success ms-1">Contact <i class="bi bi-at"></i> </button>
    </li>
    <li>
      <button routerLink="/user" class="btn btn-outline-success ms-1">User <i class="bi bi-person-fill"></i> </button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
